/* فيديو الخلفية */
/* #bgVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -2;
  opacity: 0.9;
} */
/* .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: -1;
} */

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/fitness2.png") no-repeat center center;
  background-size: cover;
  opacity: 0.9; /* قيمة الشفافية، يمكنك تعديلها حسب رغبتك */
  z-index: -1;
}

/* Header for Index */
header {
  position: relative;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff6600;
  text-align: center;
  z-index: 1;
}

header h1 {
  font-size: 5rem;
  animation: fadeInDown 1s ease-out;
  padding-top: 70px;
  padding-bottom: 60px;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.container {
  position: relative;
  padding: 40px;
  max-width: 1200px;
  margin: 40px auto;
  background: rgba(255, 255, 255, 0.8); /* خلفية شفافة للنص */
  border-radius: 8px;
  z-index: 1;
}

h2 {
  color: #000;
  text-align: center;
  margin-bottom: 20px;
}

p {
  color: #333;
  line-height: 1.6;
  margin-bottom: 15px;
}
.excerpt {
  margin-bottom: 30px;
}

/* Pricing Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th, td {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
}

th {
  background-color: #ff6600;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.previews {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 40px;
  justify-content: center;
}

.preview {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  flex: 1 1 300px;
  max-width: 350px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.preview h3 {
  color: #ff6600;
  margin-bottom: 10px;
  font-size: 1.4rem;
}

.preview p {
  color: #333;
  margin-bottom: 15px;
  font-size: 1rem;
}

.choose-plan {
  display: block;
  width: 200px;
  margin: 0 auto;
  padding: 12px 24px;
  background-color: #ff6600;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.choose-plan:hover {
  background-color: #070706;
  color: #ff6600;
  border-radius: 8px;
}

.read-more-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff6600;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.read-more-btn:hover {
  background-color: #070706;
  color: #ff6600;
  border-radius: 8px;
}
