body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/fitness2.png") no-repeat center center;
  background-size: cover;
  opacity: 0.9; /* قيمة الشفافية، يمكنك تعديلها حسب رغبتك */
  z-index: -1;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* الحاوية الرئيسية للبطاقات */
.container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  flex: 1;
}

.plans {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* تنسيق البطاقات */
.plan-card {
  display: flex;
  flex-direction: column; /* لجعل العناصر تصطف عمودياً */
  justify-content: space-between; /* لضمان توزيع العناصر بين الأعلى والأسفل */
  background: rgba(255, 255, 255, 0.8); /* خلفية سوداء */
  border: 2px solid #8f8f8f; /* إطار برتقالي */
  border-radius: 8px;
  flex: 1 1 300px; /* يسمح بعرض 3 بطاقات تقريباً في الصف */
  min-width: 250px; /* أصغر عرض للبطاقة */
  max-width: 350px; /* أكبر عرض للبطاقة */
  text-align: center;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}

.plan-card:hover {
  transform: scale(1.03);
}

.update-card {
  flex-direction: column; /* لجعل العناصر تصطف عمودياً */
  justify-content: space-between; /* لضمان توزيع العناصر بين الأعلى والأسفل */
  background: rgba(255, 255, 255, 0.8); /* خلفية سوداء */
  border: 2px solid #8f8f8f; /* إطار برتقالي */
  border-radius: 8px;
  width: 900px; /* أكبر عرض للبطاقة */
  text-align: center;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}

.plan-title {
  font-size: 1.5rem;
  color: #ff6600; /* لون العنوان برتقالي */

  margin-bottom: 10px;
  font-weight: bold;
}

.plan-info {
  margin-bottom: 15px;
  line-height: 1.6;
  color: #000000; /* نص رمادي فاتح */
}

.plan-price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ff6600;
  margin-bottom: 20px;
}

.join-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff6600;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}
.join-btn:hover {
  background-color: #070706;
  color: #ff6600;
  border-radius: 8px;
}
